body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
.text-primary{
    color: #FD6E0A;
} 

/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.title{
color: var(--Dark-01, #181818);
font-size: 45px;
font-weight: 800;
}

span{
    color: #30d114;
}

nav>ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
    color: #384037;
}

.button1{
    width: 100px;
    height: 40px;
    background-color: #26ad0f;
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 80px;
    color: white;
}

.button1:hover{
    background-color: #30d114;
}

/* header related style */
.header1{
    background-color: #e7ffe2;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_content{
    max-width: 600px;
}

.button2{
    padding: 10px;
    background-color: #2d9a19;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight: bold;
    margin-bottom: 100px;
}
.button2:hover{
    background-color: #30c915;
}

.button3{
    width: 100px;
    padding: 7px;
    background-color: #c2d4bf;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid forestgreen;
    color: rgb(11, 116, 7);
    margin-left: 15px;
}
.button3:hover{
    background-color: #f9f9f9;
}

.Hi{
    font-size: 45px;
    color: #303530;
    margin-bottom: 0;
    padding-bottom:0;
}

.Na{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 4px;
    margin-bottom: 50px;
}

.paragrap{
    padding-bottom: 10px;
    font-size: 25px;
}
img{
    width: 800px;
}

.main_section{
   max-width: 1140px;
   margin: 0 auto;
}

/* mine section styles */
.section_title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
/* about sction styles */

.about{
    padding: 130px;
    background-color: #e7ffe2;
    margin: 130px 0;
}
.about_text{
    text-align: center;
    color: #757575;
    font-size: 25px;
    font-weight: 400px;
}

.id-info{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}

#id1{
    padding: 30px 150px;
}